/* app body css  */
body{
   background: linear-gradient(to right , #132a8d , #09aaaa);
}
/* app class css  */
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* claculator body css  */
.calculator-body{
    padding: 40px 22px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    box-shadow: inset -3px -3px 7px #ffffff ,-5px -5px 12px 
    rgba(0,0,0, .29),inset 3px 3px 7px #ffffff;
    background-color: #537895;
    background-image: linear-gradient(315deg, #1c4361 0%, #123869 74%);
    border-radius: 7px;
    border: 2px solid rgb(136, 136, 224);
}


